{% extends 'news_admin/base.html' %}

{% block extra_css %}
    <style>
        ul {
            color: red;
        }

        label {
            font-weight: 800;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <form action=""
          method="POST"
          class="post-form"
          novalidate
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}

        <!-- <div class="mt-3">
            <button type="submit" class="btn btn-success close">Save</button>

        </div> -->

        <!-- Button to trigger the modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Save</button>

<!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Save</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <!-- Modal content here -->
      </div>
    </div>
  </div>
</div>

        
          
 
    </form>
{% endblock content %}
