<!--   Weekly2-News start -->
<div class="weekly2-news-area pt-50 pb-30 gray-bg">
    <div class="container">
        <div class="weekly2-wrapper">
            <div class="row">
                <!-- Banner -->
                <div class="col-lg-3">
                    <div class="home-banner2 d-none d-lg-block">
                        <img src="assets/img/gallery/body_card2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="slider-wrapper">
                        <!-- section Tittle -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="small-tittle mb-30">
                                    <h4>Weekly Top News</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Slider -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="weekly2-news-active d-flex">

                                    {% for weekly_top_post in weekly_top_posts %}
                                        <!-- Single -->
                                        <div class="weekly2-single">
                                            <div class="weekly2-img">
                                                <img src="{{ weekly_top_post.featured_image.url }}"
                                                     alt="{{ weekly_top_post.title }}"
                                                     height="250px">
                                            </div>
                                            <div class="weekly2-caption">
                                                <h4>
                                                    <a href="{% url 'post-detail' featured_post.pk %}">{{ weekly_top_post.title|truncatechars:44 }}</a>
                                                </h4>
                                                <p>{{ weekly_top_post.published_at|date:"j M Y" }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Weekly-News -->
