{% load static %}

<!-- Whats New Start -->
<section class="whats-news-area pt-50 pb-20 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="whats-news-wrapper">
                    <!-- Heading & Nav Button -->
                    <div class="row justify-content-between align-items-end mb-15">
                        <div class="col-xl-4">
                            <div class="section-tittle mb-30">
                                <h3>Whats New</h3>
                            </div>
                        </div>
                        <div class="col-xl-8 col-md-9">
                            <div class="properties__button">
                                <!--Nav Button  -->
                                <nav>

                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        {% for whats_new_category in top_categories|slice:"4" %}

                                            <a class="nav-item nav-link"
                                               id="nav-{{ whats_new_category.name }}-tab"
                                               data-toggle="tab"
                                               href="#nav-{{ whats_new_category.name }}"
                                               role="tab"
                                               aria-controls="nav-{{ whats_new_category.name }}"
                                               aria-selected="false">{{ whats_new_category.name }}</a>
                                    {% endfor %}

                                    </div>

                                </nav>
                                <!--End Nav Button  -->
                            </div>
                        </div>
                    </div>
                    <!-- Tab content -->
                    <div class="row">
                        <div class="col-12">
                            <!-- Nav Card -->
                            <div class="tab-content" id="nav-tabContent">
                                <!-- card one -->
                                <div class="tab-pane fade show active"
                                     id="nav-{{ whats_new_category.name }}"
                                     role="tabpanel"
                                     aria-labelledby="nav-{{ whats_new_category.name }}-tab">
                                    <div class="row">

                                        {% for post in posts|slice:"1" %}
                                            <!-- Left Details Caption -->
                                            <div class="col-xl-6 col-lg-12">
                                                <div class="whats-news-single mb-40 mb-40">
                                                    <div class="whates-img">
                                                        <img src="{{ post.featured_image.url }}"
                                                             alt="{{ post.title }}" height="150px" width="150px">
                                                    </div>
                                                    <div class="whates-caption">
                                                        <h4>
                                                            <a href="{% url 'post-detail' featured_post.pk %}">{{ post.title|truncatechars:12 }}</a>
                                                        </h4>
                                                        <!-- {% comment %} <span>by Alice cloe   -   Jun 19, 2020</span> {% endcomment %} -->
                                                        <span>{{ post.published_at|date:"j M Y" }}</span>
                                                        <p>{{ post.content|truncatechars:15|safe }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                        
                                        <!-- Right single caption -->
                                        <div class="col-xl-6 col-lg-12">
                                            <div class="row">
                                                {% for post in posts|slice:"4" %}
                                                <!-- single -->
                                                <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                                    <div class="whats-right-single mb-20">
                                                        <div class="whats-right-img">
                                                            <img src="{{ post.featured_image.url }}"
                                                                 alt="{{ post.title }}"
                                                                 height="150px">
                                                        </div>
                                                        <div class="whats-right-cap">
                                                            <span class="colorb">{{ post.category.name }}</span>
                                                            <h4>
                                                                <a href="{% url 'post-detail' featured_post.pk %}">{{ category.title }}</a>
                                                            </h4>
                                                            <p>{{ post.published_at|date:"j M Y" }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                
 
                                            </div>
                                        </div>
                                    </div>
                                </div>
 
                                
                            {% for whats_new_category in top_categories %}
                                    <!-- Card two -->
                                    <div class="tab-pane fade"
                                         id="nav-{{ whats_new_category.name }}"
                                         role="tabpanel"
                                         aria-labelledby="nav-{{ whats_new_category.name }}-tab">
                                        <div class="row">
 
                                            {% for post in whats_new_category.post_set.all|slice:"1" %}
                                                <!-- Left Details Caption -->
                                                <div class="col-xl-6">
                                                    <div class="whats-news-single mb-40">
                                                        <div class="whates-img">
                                                            <img src="{{ post.featured_image.url }}"
                                                                 alt="{{ post.title }}">
                                                        </div>
                                                        <div class="whates-caption">
                                                            <h4>
                                                                <a href="{% url 'post-detail' featured_post.pk %}">{{ whats_new_category.name }}</a>
                                                            </h4>
                                                            <!-- {% comment %} <span>by Alice cloe   -   Jun 19, 2020</span> {% endcomment %} -->
                                                            <span>{{ whats_new_category.published_at|date:"j M Y" }}</span>

                                                            <p>{{ whats_new_category.content|truncatechars:150|safe }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            <!-- Right single caption -->
                                            <div class="col-xl-6 col-lg-12">
                                                <div class="row">

                                                    {% for post in whats_new_category.post_set.all|slice:"4" %}
                                                        <!-- single -->
                                                        <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                                            <div class="whats-right-single mb-20">
                                                                <div class="whats-right-img">
                                                                    <img src="{{ whats_new_category.featured_image.url }}"
                                                                         alt="{{ post.title }}">
                                                                </div>
                                                                <div class="whats-right-cap">
                                                                    <span class="colorb">{{ whats_new_category.name }}</span>
                                                                    <h4>
                                                                        <a href="{% url 'post-detail' featured_post.pk %}">{{ whats_new_category.title }}</a>
                                                                    </h4>
                                                                    <p>{{ whats_new_category.published_at|date:"j M Y" }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
 
                                                    {% endfor %}
 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}
                                
 
                            </div>
                            <!-- End Nav Card -->
                        </div>
                    </div>
                </div>
                <!-- Banner -->
                <div class="banner-one mt-20 mb-30">
                    <img src="assets/img/gallery/body_card1.png" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                
                    
                    
                
            </div>
        </div>
    </div>
</section>
<!-- Whats New End -->
